<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Initial time:</strong>
  <%= @activity.initial_time %>
</p>

<p>
  <strong>Final time:</strong>
  <%= @activity.final_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @activity.requirements %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user_id %>
</p>

<p>
  <strong>Civicoin give:</strong>
  <%= @activity.civicoin_give %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @activity.cost %>
</p>

<p>
  <strong>Value:</strong>
  <%= @activity.value %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
